@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Detalles</h1>
    </div>
</section>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Lista de Roles para este Usuario</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No se encontraron roles para este usuario.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm fas fa-edit" }) |
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-primary fas fa-reply" })
</p>



