
@{
    ViewBag.Title = "Clothes";
}

<h2>Ropa</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Categorias", "Index", "Catalogs")
        </li>
        <li class="breadcrumb-item active" aria-current="page">Regresar</li>
    </ol>
</nav>